{% extends "layout.html" %}

{% block pageTitle %}
Almost there
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="column-two-thirds">
          <header>
        <h1 class="govuk-heading-l">Almost there</h1>
      </header>
      <form class="form" action="/fr-location-scenario-1" method="post">

      <p>We just need to check if that link is correct</p>

      <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
      </div>
  </div>

{% endblock %}
