{% extends "layout.html" %}

{% block pageTitle %}
Almost there
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="column-two-thirds">
          <header>
        <h1 class="govuk-heading-l">Continue to the report</h1>
      </header>
      <form class="form" action="/fr-location-scenario-1" method="post">

      <p>This step confirms the link you used is correct.</p>

      <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
      </div>
  </div>

{% endblock %}
