{% extends "layout.html" %}

{% block pageTitle %}
Check your email
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/confirm-your-email-scenario-1">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="column-two-thirds">
          <header>
        <h1 class="govuk-heading-l">Check your email</h1>
      </header>
      <form class="form" action="/confirm-your-email-scenario-1" method="post">

      <p>We have sent a link to the email address you entered, {{ data['email-scenario-1'] }}</p>
      <p> If you do not receive the link, you can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>check your spam folder</li>
        <li>enter your email address again</li>
        <li>try a different email address</li>
      </ul>
      <p>The link will stop working after 30 minutes, but you can request a new one when you are ready to continue.</p>
      <a href="/who-do-you-work-for-scenario-1">Send another link</a>
      </form>
      </div>
  </div>

{% endblock %}
