{% extends "layout.html" %}

{% block pageTitle %}
Confirm your email Address
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/existing-report-check-scenario-6">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Enter your email address</h1>

      <form class="form" action="/email-sent-scenario-6" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "Enter the email address you used when you created the report."
          },
          id: "enter-your-email-scenario-6",
          name: "enterEmail6",
          type: "email",
          value: data['enterEmail6'],
          autocomplete: "email",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
