{% extends "layout.html" %}

{% block pageTitle %}
Check your email
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/enter-your-email-scenario-6">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="column-two-thirds">
          <header>
        <h1 class="govuk-heading-l">This report does not exist</h1>
      </header>
      <form class="form" action="/enter-your-email-scenario-6" method="post">

        <p>This might be because:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>you closed the report without choosing 'Save and exit'</li>
          <li>it's more than 28 days since you created the report</li>
        </ul>
  
        <p>For security reasons, we delete saved reports after 28 days.</p>
  
        <a href="/">Start a new application</a>
      </form>
      </div>
  </div>

{% endblock %}
