{% extends "layout.html" %}

{% block pageTitle %}
Application saved
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Report saved</h1>
        <div class="govuk-panel__body">
          Your application has been saved for 28 days
        </div>
      </div>

      <p>We have emailed you a link</p>

      <p>The link will stop working after 30 minutes. But you can request a new one when you are ready to continue</p>


    </div>
  </div>

{% endblock %}
