{% extends "layout.html" %}

{% block pageTitle %}
Application saved
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application saved</h1>
        <div class="govuk-panel__body">
          Your application has been saved for 28 days
        </div>
      </div>

      <p>
        We have sent you a link via email (this expires in 30 minutes).
      </p>

      <p>Don't worry, you can always request a new link.</p>


    </div>
  </div>

{% endblock %}
