{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="existing-report-check-scenario-1">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Who do you work for?</h1>

        <p>You must work for a designated first responder organisation to use this service.</p>

        <div class="govuk-inset-text">
            <p>You can still report modern slavery if you’re not a First Responder. Call the modern slavery helpline on 0800 0121 700 or <a href="https://www.modernslaveryhelpline.org/report">report it online.</a></p>
        </div>

      <form class="form" action="/confirm-your-email-scenario-1" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "Organisation"
          },
          hint: {
            text: "Start typing the name of your organisation. It must appear on the list for you to be able to continue."
          },
          id: "organisation",
          name: "organisation",
          value: ""
        }) }}

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "Enter work email address"
          },
          hint: {
            text: "We need this to confirm who you work for"
          },
          id: "email-scenario-1",
          name: "email-scenario-1",
          type: "email",
          value: data['email-scenario-1'],
          autocomplete: "email",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
